<!DOCTYPE html>
<html>
	<head>
		{%block head%}
				<meta charset="utf-8">
				<title>{%block title%}PHP Test{%endblock title%}</title>
				<link type="text/css" rel="stylesheet" href="css/test.scss">
		{%endblock head%}
	</head>
	<body>
		{%block content%}
		<section id="section1">
			<h1 id="homeHeader">Contact this dude!</h1>	
				<p class="content">So you want to connect with me? Alright then!</p>
					<form method="get"><!--consider making a POST soon-->
						<p class="please complete">Please complete this form! </p>
						<!--Contact form-->
						<input id="firstName" type="text" name="firstName" placeholder="your first name goes here"><!--firstName field-->
						<input id="lastName" type="text" name="lastName" placeholder="your last name goes here"><!--lastName field-->
						<input id="email" type="email" name="giveAName" placeholder="email goes here"><!--field-->
					</form>
		</section>
		{%endblock content%}
	</body>
</html>
